[submodule "imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/variant"]
	path = modules/variant
	url = https://github.com/mapbox/variant.git
